Pandas
---

从sklearn中加载iris数据体

In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris_datas=load_iris()#iris_data是一个数据体，包含data、target
# print(iris_datas.data)
iris_datas.data.shape
iris_datas.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

读出数据指定标签

In [25]:
iris=pd.DataFrame(iris_datas.data,columns=['SepaLength','SepalWidth','PetalLength','PetalWidth'])
#SepaLengthCm: 花萼长度, 单位cm；SepalWidthCm: 花萼宽度, 单位cm；PetalLengthCm: 花瓣长度, 单位cm
# PetalWidthCm; 花瓣宽度, 单位cm
iris

     SepaLength  SepalWidth  PetalLength  PetalWidth
0           5.1         3.5          1.4         0.2
1           4.9         3.0          1.4         0.2
2           4.7         3.2          1.3         0.2
3           4.6         3.1          1.5         0.2
4           5.0         3.6          1.4         0.2
..          ...         ...          ...         ...
145         6.7         3.0          5.2         2.3
146         6.3         2.5          5.0         1.9
147         6.5         3.0          5.2         2.0
148         6.2         3.4          5.4         2.3
149         5.9         3.0          5.1         1.8

[150 rows x 4 columns]

数据整体信息

In [26]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepaLength   150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

数据描述性统计

In [27]:
data1=pd.DataFrame(iris_datas.target)
data1
iris['target']=data1
print(iris)
iris.describe()#描述性统计

     SepaLength  SepalWidth  PetalLength  PetalWidth  target
0           5.1         3.5          1.4         0.2       0
1           4.9         3.0          1.4         0.2       0
2           4.7         3.2          1.3         0.2       0
3           4.6         3.1          1.5         0.2       0
4           5.0         3.6          1.4         0.2       0
..          ...         ...          ...         ...     ...
145         6.7         3.0          5.2         2.3       2
146         6.3         2.5          5.0         1.9       2
147         6.5         3.0          5.2         2.0       2
148         6.2         3.4          5.4         2.3       2
149         5.9         3.0          5.1         1.8       2

[150 rows x 5 columns]

       SepaLength  SepalWidth  PetalLength  PetalWidth      target
count  150.000000  150.000000   150.000000  150.000000  150.000000
mean     5.843333    3.057333     3.758000    1.199333    1.000000
std      0.828066    0.435866     1.765298    0.762238    0.819232
min      4.300000    2.000000     1.000000    0.100000    0.000000
25%      5.100000    2.800000     1.600000    0.300000    0.000000
50%      5.800000    3.000000     4.350000    1.300000    1.000000
75%      6.400000    3.300000     5.100000    1.800000    2.000000
max      7.900000    4.400000     6.900000    2.500000    2.000000

In [28]:

print(iris_datas.keys(),end='\n')
print(iris.keys())
print(iris.columns)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
Index(['SepaLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'target'], dtype='object')
Index(['SepaLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'target'], dtype='object')

apply筛选数据

In [29]:
import pandas as pd 
import numpy as np
a=range(5)
b=range(5,10)
c=range(10,15)
data_1=pd.DataFrame([a,b,c]).T
data_1.columns=['a','b','c']
print('data_1',data_1)

data_1['values']=''
data_1['degree']=data_1['values']

def select(x):
    if 0<=x<2:
        return 1
    elif 2<=x<3:
        return 2
    elif 3<=x<4:
        return 3
    elif 4<=x<5:
        return 4
    elif 5<=x<6:
        return 5
data_1['values']=data_1['a'].apply(select)
data_1['degree']=np.sin(data_1['values'])
print(data_1.iloc[:,:])
data_1.loc[:,:]

data_1    a  b   c
0  0  5  10
1  1  6  11
2  2  7  12
3  3  8  13
4  4  9  14
   a  b   c  values    degree
0  0  5  10       1  0.841471
1  1  6  11       1  0.841471
2  2  7  12       2  0.909297
3  3  8  13       3  0.141120
4  4  9  14       4 -0.756802

   a  b   c  values    degree
0  0  5  10       1  0.841471
1  1  6  11       1  0.841471
2  2  7  12       2  0.909297
3  3  8  13       3  0.141120
4  4  9  14       4 -0.756802

In [78]:
file=('D:/code/Python Code/data/temp/model_liangceng10Hz_0.2ms.dat')
data=pd.read_csv(file,header=None,sep='\t')
data.columns=['data']
data.info
data.iloc[:,:]
# data=open(file)
# data
data=data['data'].str.split(' ',expand=True)
data

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.02135611524482e-17,-3.16372393133228e-19,1.46468712242139e-21,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.0176752947214851,0.104437176176777,0.0593619395141189,0.0590247619669118,0.0886635555705784,0.0401222993855774,0.0692311573438979,0.04352376331442,0.0937899497891825,0.0185771796470069,...,4.39962102378667,3.87084347016147,3.44475965018542,2.38041798120425,-0.43474545100275,-2.92643313358821,-5.14397568194032,-7.68857956197255,-8.73018485353069,-7.80035383260844
4996,0.0231952270478075,0.0965320156631897,0.0680369350108521,0.0509776533159094,0.0966350957616458,0.0343195114555144,0.0759862891296807,0.0357506128931028,0.102165641458657,0.00974747102707485,...,4.39444259166626,3.90735685089829,3.4606433470751,2.46139005285747,-0.316660823186009,-2.85021767606907,-5.05139809557249,-7.61756122217429,-8.74343453023991,-7.87264666068594
4997,0.0294390960829389,0.088073857757287,0.0771181499892535,0.0426766749217276,0.104760463374197,0.0284598769142286,0.0829656707190873,0.0279455681311144,0.110563906272215,0.00120392126096291,...,4.38641237020453,3.94391917150789,3.47676837587691,2.53825058061776,-0.197413312029205,-2.77320796914094,-4.95980362419896,-7.54314578153968,-8.75390459552171,-7.94270181517523
4998,0.0363312814719379,0.0791551506532677,0.0864951935236498,0.0342300729431404,0.112914126850767,0.0226504100523011,0.0900371171429089,0.0202444621974476,0.118821944048759,-0.00689004474298627,...,4.37572534390181,3.98026843430941,3.49340425511628,2.61103070851879,-0.0773098573351786,-2.69515343135935,-4.86942270382688,-7.46542730681791,-8.7614699760731,-8.01059222734944
4999,0.0437781989194903,0.0698843743030508,0.0960421805183849,0.0257599974172003,0.120957821159314,0.0170088483230297,0.0970569981547502,0.01279100578846,0.126769930421812,-0.0143701460611805,...,4.36258448285263,4.01615543375522,3.51077830348276,2.67981794437649,0.0433196935234591,-2.61580574805593,-4.78045189175294,-7.38454743972543,-8.76598282463936,-8.0764078937411

In [85]:
data.iloc[:,0]
type(data)

pandas.core.frame.DataFrame